<div class="pincode-password-container">
  <div class="pincode-password-header">
    @if (showLogo()) {
      <img
        [src]="logoUrl()"
        [alt]="'auth.pincodePassword' | translate"
        class="logo"
        id="app-logo"
      />
    } @else {
      <div class="logo-placeholder">
        <i class="pi pi-spin pi-spinner"></i>
      </div>
    }
  </div>
  <div class="pincode-password-card">
    <h3>{{ 'auth.enterPinCodeToResetPassword' | translate }}</h3>
    <br>
    <form [formGroup]="pincodePasswordForm" (ngSubmit)="onSubmit()" class="pincode-password-form">
      <div class="form-group">
        <label for="pinCode">{{ 'auth.pinCode' | translate }}</label>
        <div class="otp" formArrayName="otpControls">
          @for (ctrl of otpControls.controls; track $index) {
            <input
              type="text"
              maxlength="1"
              pattern="[0-9]*"
              inputmode="numeric"
              [formControl]="ctrl"
              (input)="onInput($event, $index)"
              (keydown)="onKeyDown($event, $index)"
              (paste)="onPaste($event)"
              class="otp-input"
            />
          }
        </div>
       @if (pincodePasswordForm.get('otpControls')?.invalid && pincodePasswordForm.get('otpControls')?.touched) {
        <span class="error-message">
          @if (pincodePasswordForm.get('otpControls')?.hasError('required')) {
            {{ 'auth.pinCodeRequired' | translate }}
          } @else if (pincodePasswordForm.get('otpControls')?.hasError('minlength')) {
            {{ 'auth.pinCodeInvalid' | translate }}
          }
        </span>
       }
      </div>

      @if (error()) {
        <div class="error-alert">
          {{ error() }}
        </div>
      }

      <button
        type="submit"
        class="btn primary"
        [disabled]="loading() || pincodePasswordForm.invalid"
      >
        @if (loading()) {
          {{ 'auth.loading' | translate }}
        } @else {
          {{ 'auth.submit' | translate }}
        }
      </button>

     

     
    </form>
    
  <div class="version-info">
    v{{ version }}
  </div>
  </div>
</div>

