@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.pincode-password-container {
  min-height: 100dvh;
  width: 100%;
  background: var(--bg-secondary);
  display: flex;
  align-items: flex-end;
  background-image: url('../../../../assets/images/startbg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include safe-area-vertical(0px, 0px);
  @include safe-area-horizontal($spacing-md);
}

.pincode-password-header {
  position: fixed;
  top: calc(env(safe-area-inset-top, 0px) + #{$padding-xl});
  margin-left: $padding-lg;

  .logo {
    display: block;
    height: 4rem;
    width: 15rem;
    object-fit: contain;
    object-position: left;
  }
}

.pincode-password-card {
  @include safe-area-bottom($padding);
  position: relative;
  width: 100%;
  padding: $padding-lg;
  padding-bottom: $padding;
  padding-top: $padding-xl;
  background: var(--bg-primary);
}

.pincode-password-form {
  display: flex;
  flex-direction: column;
  gap: $gap-md;
  .otp {
    display: flex;
    gap: 12px;
  }
  
  .otp-input {
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
  }
}

.version-info {
  text-align: center;
  margin-top: $padding-md;
  font-size: $font-size-xs;
  color: var(--text-secondary);
  opacity: 0.5;
}
