@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.pincode-password-container {
  min-height: 100dvh;
  width: 100%;
  background: var(--bg-secondary);
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  @include safe-area-top(0.25rem);
}

.pincode-password-header {
  position: fixed;
  top: calc(env(safe-area-inset-top, 0px) + #{$padding-xl});
  margin-left: $padding-lg;

  .pincode-password-logo {
    display: block;
    height: 4rem;
    width: 6rem;
    object-fit: contain;
    object-position: bottom;
    background: var(--bg-primary);
    position: fixed;
    top: 5rem;
    left: -1rem;
    margin-left: -0rem;
    border-top-right-radius: 15rem;
    border-bottom-right-radius: 15rem;
    padding: 0.75rem;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.pincode-password-card {
  position: relative;
  width: 100%;
  padding: $padding-sm;
  padding-bottom: $padding;
  padding-top: 2.5rem;
  background: var(--bg-primary);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.pincode-password-form {
  display: flex;
  flex-direction: column;
  gap: $gap-md;

  .otp {
    display: flex;
    gap: 12px;
  }

  .otp-input {
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
  }
}

.back-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  font-size: $font-size-xs;
  color: var(--text-tertiary);
  text-align: left;
  width: 100%;
  padding: 0.5rem;
  padding-left: 0;
  margin-top: 0.25rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.version-info {
  text-align: center;
  margin-top: $padding-md;
  font-size: $font-size-xs;
  color: var(--text-secondary);
  opacity: 0.5;
}
