<div class="login-container">
  <div class="login-header">
    @if (showLogo()) {
      <img
        [src]="logoUrl()"
        [alt]="'auth.login' | translate"
        class="login-logo"
        id="app-logo"
      />
    } @else {
      <div class="login-logo-placeholder">
        <i class="pi pi-spin pi-spinner"></i>
      </div>
    }
  </div>
  <div class="login-card">
    <h3>{{ 'auth.enterPinCodeToResetPassword' | translate }}</h3>
    <br>
    <form [formGroup]="pincodePasswordForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label for="pinCode">{{ 'auth.pinCode' | translate }}</label>
        <input
          id="pinCode"
          type="text"
          formControlName="pinCode"
          [class.error]="pincodePasswordForm.get('pinCode')?.invalid && pincodePasswordForm.get('pinCode')?.touched"
        >
        @if (pincodePasswordForm.get('pinCode')?.invalid && pincodePasswordForm.get('pinCode')?.touched) {
          <span class="error-message">
            @if (pincodePasswordForm.get('pinCode')?.hasError('required')) {
              {{ 'auth.pinCodeRequired' | translate }}
            } @else if (pincodePasswordForm.get('pinCode')?.hasError('minlength')) {
              {{ 'auth.pinCodeInvalid' | translate }}
            }
          </span>
        }
      </div>

      @if (error()) {
        <div class="error-alert">
          {{ error() }}
        </div>
      }

      <button
        type="submit"
        class="btn primary"
        [disabled]="loading() || pincodePasswordForm.invalid"
      >
        @if (loading()) {
          {{ 'auth.loading' | translate }}
        } @else {
          {{ 'auth.submit' | translate }}
        }
      </button>

     

     
    </form>
    
  <div class="version-info">
    v{{ version }}
  </div>
  </div>
</div>

