@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.forgot-password-container {
  min-height: 100dvh;
  width: 100%;
  background: var(--bg-secondary);
  display: flex;
  align-items: flex-end;
  background-image: url('../../../../assets/images/startbg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.forgot-password-header {
  position: fixed;
  top: $padding-xl;
  margin-left: $padding-lg;

  .logo {
    display: block;
    height: 4rem;
    width: 15rem;
    object-fit: contain;
    object-position: left;
  }
}

.forgot-password-card {
  position: relative;
  width: 100%;
  padding: $padding-lg;
  padding-bottom: $padding;
  padding-top: $padding-xl;
  background: var(--bg-primary);
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  gap: $gap-md;
}


.version-info {
  text-align: center;
  margin-top: $padding-md;
  font-size: $font-size-xs;
  color: var(--text-secondary);
  opacity: 0.5;
}
